services:
  # Orion is an NGSI-v2 context broker
  orion:
    image: fiware/orion:${ORION_VERSION}
    #hostname: orion
    container_name: fiware-orion
    depends_on:
      - mongo-db
    networks:
      - fiware-net
    ports:
      - "${ORION_PORT}:${ORION_PORT}" # localhost:1026
    command: -dbURI mongodb://mongo-db -logLevel DEBUG -noCache
    healthcheck:
      test: curl --fail -s http://orion:${ORION_PORT}/version || exit 1
      interval: 5s


  # Databases
  mongo-db:
    image: mongo:${MONGO_DB_VERSION}
    #hostname: mongo-db
    container_name: db-mongo
    expose:
      - "${MONGO_DB_PORT}"
    ports:
      - "${MONGO_DB_PORT}:${MONGO_DB_PORT}" # localhost:27017 # localhost:27017
    networks:
      - fiware-net
    volumes:
      - mongo-db:/data
    healthcheck:
      test: ["CMD","mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 5s


networks:
  fiware-net:
    driver: bridge

volumes:
  mongo-db: ~